.attraction-modal__content {
  width: 400px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 15px;
}

.attraction-modal--hidden{
  display: none;
}

.attraction-modal__pictures{
  display: flex;
  gap: 15px;
  flex-direction: column;

  p{
    margin: 0;
    font-weight: bold;
  }
}

.attraction-modal__buttons-wrapper{
  display: flex;
  justify-content: space-between;
}

.attraction-modal__inner-wrapper{
  display: flex;
}