.add-attraction-modal {
  width: 400px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 15px;
}

.add-attraction-modal--hidden{
  display: none;
}

.attractions-table {
  display: flex;
  flex-direction: column;
}

.table-headers {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  background-color: #f5f5f5;
  border-bottom: 1px solid #ccc;
}

.table-headers{

}